<!DOCTYPE html>
<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>外来患者選択 - スカイカルテ！</title>

    <script src="../../Scripts/vender/jquery/jquery-3.3.1.min.js"></script>
    <script src="../../Scripts/vender/jquery/modernizr-2.8.3.js"></script>

    <link href="../../Content/common.css" rel="stylesheet" />

    <link href="../../Content/style.css" rel="stylesheet" />

    <link href="../../Content/vender/bootstrap/bootstrap.min.css"
      rel="stylesheet" />
    <link href="../../Content/vender/fontawesome/all.min.css" rel="stylesheet"
      />

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP"
      rel="stylesheet">

  </head>

  <body>
    <!-- header -->
    <header class="border-bottom header w-100">
      <div class="primary-bar d-flex justify-content-between px-4">
        <h1 class="h4 d-inline-block mt-1">
          <span class="font-weight-bold mr-1">Sky</span>Karte
        </h1>
        <div class="dropdown">
          <a href="#" class="ml-4 mr-4"><i class="fas fa-hospital-alt
              mr-2"></i>スカイクリニック</a>
          <a class="dropdown-toggle" href="#" role="button"
            id="dropdownPersonalLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user mr-2"></i>中村 岳夫
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownPersonalLink">
            <a class="dropdown-item" href="#">設定</a>
            <a class="dropdown-item" href="#">ログアウト</a>
          </div>
        </div>
      </div>
    </header>
    <!-- /header -->

    <!-- wrapper -->
    <div class="wrapper">

      <!-- controll area -->
      <div class="accordion bg-white border-bottom pt-2 shadow-sm"
        id="search_accordion">
        <div class="d-flex justify-content-between pb-2 px-2">
          <div class="d-flex">
            <p class="btn btn-outline-primary mb-0 px-3 py-2"><i class="fas
                fa-calendar-alt"></i><span class="pl-3">2018年12月4日</span></p>
          </div>
          <form class="form-inline">
            <input class="form-control" type="text" placeholder="患者カナ検索">
          </form>
          <span class="M-btn ripple"><a href="#" class="align-middle">全患者検索</a></span>
          <p class="collapsed PL-btn PL-btn-non" data-toggle="collapse"
            data-target="#collapseThree" aria-expanded="false"
            aria-controls="collapseThree">受付情報取り込み<i class="fas fa-plus-circle h3"></i></p>
        </div>
        <div id="collapseThree" class="collapse pb-2 px-2"
          aria-labelledby="headingThree" data-parent="#search_accordion">
          <span class="M-btn ripple"><a href="#" class="align-middle">全患者検索</a></span>
        </div>
      </div>
      <!-- /controll area -->

      <!-- content -->
      <div class="content">

        <!-- table -->
        <div class="mb-2 mt-3 d-flex justify-content-between px-2">
          <span class="M-btn-OL ripple"><a href="#" class="align-middle"><i class="fa fa-redo-alt mr-2"></i>再読み込み</a></span>
          <form class="exam-situation">
            <ul class="mb-0 mt-1">
              <li class="form-check form-check-inline exam--all">
                <input class="form-check-input" type="radio"
                  name="inlineRadioOptions" id="inlineRadio1" value="1"
                  checked>
                <label class="form-check-label" for="inlineRadio1">すべて</label>
              </li>
              <li class="form-check form-check-inline exam--yet">
                <input class="form-check-input" type="radio"
                  name="inlineRadioOptions" id="inlineRadio2" value="2">
                <label class="form-check-label" for="inlineRadio2">未</label>
              </li>
              <li class="form-check form-check-inline">
                <input class="form-check-input" type="radio"
                  name="inlineRadioOptions" id="inlineRadio3" value="3">
                <label class="form-check-label" for="inlineRadio3">診察中</label>
              </li>
              <li class="form-check form-check-inline">
                <input class="form-check-input" type="radio"
                  name="inlineRadioOptions" id="inlineRadio4" value="4">
                <label class="form-check-label" for="inlineRadio4">検査結果待ち</label>
              </li>
              <li class="form-check form-check-inline">
                <input class="form-check-input" type="radio"
                  name="inlineRadioOptions" id="inlineRadio5" value="5">
                <label class="form-check-label" for="inlineRadio5">保留</label>
              </li>
              <li class="form-check form-check-inline">
                <input class="form-check-input" type="radio"
                  name="inlineRadioOptions" id="inlineRadio6" value="6">
                <label class="form-check-label" for="inlineRadio6">済</label>
              </li>
              <li class="form-check form-check-inline">
                <input class="form-check-input" type="radio"
                  name="inlineRadioOptions" id="inlineRadio7" value="7">
                <label class="form-check-label" for="inlineRadio7">未会計</label>
              </li>
              <li class="form-check form-check-inline">
                <input class="form-check-input" type="radio"
                  name="inlineRadioOptions" id="inlineRadio8" value="8">
                <label class="form-check-label" for="inlineRadio8">会計済</label>
              </li>
            </ul>
          </form>

        </div>

        <table class="data-table mb-3">
          <thead class="">
              <tr>
                  <th class="text-muted text-center" scope="col">NO</th>
                  <th class="text-muted text-center" scope="col">状況</th>
                  <th class="text-muted text-center" scope="col">受付</th>
                  <th class="text-muted text-center" scope="col">待ち</th>
                  <th class="text-muted text-center" scope="col">患コ</th>
                  <th class="text-muted text-center" scope="col">ID</th>
                  <th class="text-muted text-center" scope="col">氏名<span class="badge badge-secondary">カナ</span></th>
                  <th class="text-muted text-center" scope="col">年齢</th>
                  <th class="text-muted text-center" scope="col">事検</th>
                  <th class="text-muted text-center" scope="col">処方</th>
                  <th class="text-muted text-center" scope="col">注射</th>
                  <th class="text-muted text-center" scope="col">処置</th>
                  <th class="text-muted text-center" scope="col">検体</th>
                  <th class="text-muted text-center" scope="col">生理</th>
                  <th class="text-muted text-center" scope="col">画像</th>
                  <th class="text-muted text-center" scope="col">リハ</th>
                  <th class="text-muted text-center" scope="col">会計</th>
                  <th class="text-muted text-center" scope="col">科</th>
                  <th class="text-muted text-center" scope="col">医師</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td class="text-center py-2" scope="row">1</td>
                  <td class="text-center">済</td>
                  <td class="text-center">09：00</td>
                  <td class="text-center">10分</td>
                  <td class="text-center"></td>
                  <td class="text-center"><a href="/PatientDashboard">0123456789</a></td>
                  <td class="text-center"><a href="#ho" title="ホリグチ　ドウシタ">堀口　堂下</a></td>
                  <td class="text-center">39歳</td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"><a href="#"><i class="far fa-image"></i></a</td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center">内科</td>
                  <td class="text-center">大山田</td>
              </tr>
              <tr>
                  <td class="text-center py-2" scope="row">2</td>
                  <td class="text-center">済</td>
                  <td class="text-center">09：10</td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">0123456789</td>
                  <td class="text-center"><a href="#ho" title="モリヤ　サラ">森谷　咲良</a></td>
                  <td class="text-center">22歳</td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center">内科</td>
                  <td class="text-center">大山田</td>
              </tr>
              <tr>
                  <td class="text-center py-2" scope="row">3</td>
                  <td class="text-center">済</td>
                  <td class="text-center">09：11</td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">123456789</td>
                  <td class="text-center"><a href="#ho" title="ホソヤ　マサト">細谷　雅人</a></td>
                  <td class="text-center">52歳</td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center">内科</td>
                  <td class="text-center">大山田</td>
              </tr>
              <tr>
                  <td class="text-center py-2" scope="row">4</td>
                  <td class="text-center">済</td>
                  <td class="text-center">09：15</td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">123456789</td>
                  <td class="text-center"><a href="#ho" title="クロザキ　トシロウ">黒崎　利郎</a></td>
                  <td class="text-center">58歳</td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center">内科</td>
                  <td class="text-center">大山田</td>
              </tr>
              <tr>
                  <td class="text-center py-2" scope="row">5</td>
                  <td class="text-center">済</td>
                  <td class="text-center">09：20</td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">123456789</td>
                  <td class="text-center"><a href="#ho" title="オオシロ　イチカ">大城　一華</a></td>
                  <td class="text-center">27歳</td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center">内科</td>
                  <td class="text-center">大山田</td>
              </tr>
              <tr>
                  <td class="text-center py-2" scope="row">6</td>
                  <td class="text-center">済</td>
                  <td class="text-center">09：21</td>
                  <td class="text-center"></td>
                  <td class="text-center">
                      <div class="dropdown">
                          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">あり</a>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" href="#">難聴</a>
                          </div>
                      </div>
                  </td>
                  <td class="text-center">123456789</td>
                  <td class="text-center"><a href="#ho" title="シモカワ　タイゾウ">下川　大造</a></td>
                  <td class="text-center">52歳</td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">
                      <div class="dropdown">
                          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              結果
                          </a>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" href="#">最終</a>
                              <a class="dropdown-item" href="#">中間</a>
                          </div>
                      </div>
                  </td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center">内科</td>
                  <td class="text-center">大山田</td>
              </tr>
              <tr>
                  <td class="text-center py-2" scope="row">7</td>
                  <td class="text-center">済</td>
                  <td class="text-center">09：22</td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">123456789</td>
                  <td class="text-center"><a href="#ho" title="ヒラハラ　ケンジ">平原　研治</a></td>
                  <td class="text-center">43歳</td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">
                      <div class="dropdown">
                          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              結果
                          </a>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" href="#">最終</a>
                              <a class="dropdown-item" href="#">中間</a>
                          </div>
                      </div>
                  </td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center">内科</td>
                  <td class="text-center">大山田</td>
              </tr>
              <tr>
                  <td class="text-center py-2" scope="row">8</td>
                  <td class="text-center">済</td>
                  <td class="text-center">09：23</td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">123456789</td>
                  <td class="text-center"><a href="#ho" title="ミヤハラ　ヒデキ">宮原　秀樹</a></td>
                  <td class="text-center">49歳</td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center">内科</td>
                  <td class="text-center">大山田</td>
              </tr>
              <tr>
                  <td class="text-center py-2" scope="row">9</td>
                  <td class="text-center">済</td>
                  <td class="text-center">09：25</td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">123456789</td>
                  <td class="text-center"><a href="#ho" title="コクボ　アヤコ">小久保　綾子</a></td>
                  <td class="text-center">43歳</td>
                  <td class="text-center">あり</td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">
                      <div class="dropdown">
                          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              結果
                          </a>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" href="#">最終</a>
                              <a class="dropdown-item" href="#">中間</a>
                          </div>
                      </div>
                  </td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center">内科</td>
                  <td class="text-center">大山田</td>
              </tr>
              <tr>
                  <td class="text-center py-2" scope="row">10</td>
                  <td class="text-center">済</td>
                  <td class="text-center">09：30</td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">123456789</td>
                  <td class="text-center"><a href="#ho" title="シライシ　ヨシミ">白石　義美</a></td>
                  <td class="text-center">56歳</td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center">内科</td>
                  <td class="text-center">大山田</td>
              </tr>
              <tr>
                  <td class="text-center py-2" scope="row">11</td>
                  <td class="text-center">済</td>
                  <td class="text-center">09：32</td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">123456789</td>
                  <td class="text-center"><a href="#ho" title="イシザワ　ムツミ">石沢　睦美</a></td>
                  <td class="text-center">53歳</td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center"><i class="fas fa-check text-success"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center">内科</td>
                  <td class="text-center">大山田</td>
              </tr>
              <tr>
                  <td class="text-center py-2" scope="row">12</td>
                  <td class="text-center">済</td>
                  <td class="text-center">09：40</td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">123456789</td>
                  <td class="text-center"><a href="#ho" title="ナカダ　ススム">仲田　進</a></td>
                  <td class="text-center">49歳</td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center"><i class="fas fa-check text-success"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center">内科</td>
                  <td class="text-center">大山田</td>
              </tr>
              <tr>
                  <td class="text-center py-2" scope="row">13</td>
                  <td class="text-center">済</td>
                  <td class="text-center">
                    <div class="dropdown">
                      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">09：41</a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">早めに診察</a>
                      </div>
                    </div>
                  </td>
                  <td class="text-center">
                  </td>
                  <td class="text-center"></td>
                  <td class="text-center">123456789</td>
                  <td class="text-center"><a href="#ho" title="カキウチ　ショウヘイ">垣内　章平</a></td>
                  <td class="text-center">41歳</td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center">内科</td>
                  <td class="text-center">大山田</td>
              </tr>
              <tr>
                  <td class="text-center py-2" scope="row">14</td>
                  <td class="text-center">済</td>
                  <td class="text-center">09：42</td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">123456789</td>
                  <td class="text-center"><a href="#ho" title="コンドウ　カンイチ">近藤　貫一</a></td>
                  <td class="text-center">29歳</td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center">内科</td>
                  <td class="text-center">大山田</td>
              </tr>
              <tr>
                  <td class="text-center py-2" scope="row">15</td>
                  <td class="text-center">済</td>
                  <td class="text-center">09：44</td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">123456789</td>
                  <td class="text-center"><a href="#ho" title="ナカオ　ハヤト">中尾　勇人</a></td>
                  <td class="text-center">43歳</td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center">内科</td>
                  <td class="text-center">大山田</td>
              </tr>
              <tr>
                  <td class="text-center py-2" scope="row">16</td>
                  <td class="text-center">済</td>
                  <td class="text-center">09：45</td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">123456789</td>
                  <td class="text-center"><a href="#ho" title="オオイシ　ミサキ">大石　心咲</a></td>
                  <td class="text-center">48歳</td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center">内科</td>
                  <td class="text-center">大山田</td>
              </tr>
              <tr>
                  <td class="text-center py-2" scope="row">17</td>
                  <td class="text-center">済</td>
                  <td class="text-center">09：46</td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">123456789</td>
                  <td class="text-center"><a href="#ho" title="ウラノ　ヤスオ">浦野　康男</a></td>
                  <td class="text-center">45歳</td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check text-success"></i></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center">内科</td>
                  <td class="text-center">大山田</td>
              </tr>
              <tr>
                  <td class="text-center py-2" scope="row">18</td>
                  <td class="text-center">済</td>
                  <td class="text-center">09：48</td>
                  <td class="text-center"></td>
                  <td class="text-center">
                      <div class="dropdown">
                          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">あり</a>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" href="#">VIP</a>
                          </div>
                      </div>
                  </td>
                  <td class="text-center">123456789</td>
                  <td class="text-center"><a href="#ho" title="ウサミ　ミツコ">宇佐美　光子</a></td>
                  <td class="text-center">45歳</td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">
                      <div class="dropdown">
                          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              結果
                          </a>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" href="#">最終</a>
                              <a class="dropdown-item" href="#">中間</a>
                          </div>
                      </div>
                  </td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center">内科</td>
                  <td class="text-center">大山田</td>
              </tr>
              <tr>
                  <td class="text-center py-2" scope="row">19</td>
                  <td class="text-center">済</td>
                  <td class="text-center">09：50</td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">123456789</td>
                  <td class="text-center"><a href="#ho" title="ナルミ　コウイチ">鳴海　耕一</a></td>
                  <td class="text-center">26歳</td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">待</td>
                  <td class="text-center">内科</td>
                  <td class="text-center">大山田</td>
              </tr>
              <tr>
                  <td class="text-center py-2" scope="row">20</td>
                  <td class="text-center">済</td>
                  <td class="text-center">09：55</td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">123456789</td>
                  <td class="text-center"><a href="#ho" title="イシザキ　トシアキ">石崎　年昭</a></td>
                  <td class="text-center">30歳</td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">待</td>
                  <td class="text-center">内科</td>
                  <td class="text-center">大山田</td>
              </tr>
              <tr>
                  <td class="text-center py-2" scope="row">21</td>
                  <td class="text-center">済</td>
                  <td class="text-center">10：00</td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">123456789</td>
                  <td class="text-center"><a href="#ho" title="クマガヤ　マナ">熊谷　真菜</a></td>
                  <td class="text-center">32歳</td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">
                      <div class="dropdown">
                          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              結果
                          </a>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" href="#">最終</a>
                              <a class="dropdown-item" href="#">中間</a>
                          </div>
                      </div>
                  </td>
                  <td class="text-center"><i class="fas fa-check text-success"></i></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">待</td>
                  <td class="text-center">内科</td>
                  <td class="text-center">大山田</td>
              </tr>
              <tr>
                  <td class="text-center py-2" scope="row">22</td>
                  <td class="text-center">未</td>
                  <td class="text-center">10：01</td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">123456789</td>
                  <td class="text-center"><a href="#ho" title="イマニシ　ナオヨシ">今西　直義</a></td>
                  <td class="text-center">21歳</td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">内科</td>
                  <td class="text-center">大山田</td>
              </tr>
              <tr>
                  <td class="text-center py-2" scope="row">23</td>
                  <td class="text-center">未</td>
                  <td class="text-center">10：03</td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">123456789</td>
                  <td class="text-center"><a href="#ho" title="カミヤマ　ヒロコ">神山　裕子</a></td>
                  <td class="text-center">59歳</td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">内科</td>
                  <td class="text-center">大山田</td>
              </tr>
              <tr>
                  <td class="text-center py-2" scope="row">24</td>
                  <td class="text-center">未</td>
                  <td class="text-center">10：05</td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">123456789</td>
                  <td class="text-center"><a href="#ho" title="タカハラ　マサノブ">高原　政信</a></td>
                  <td class="text-center">28歳</td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">内科</td>
                  <td class="text-center">大山田</td>
              </tr>
              <tr>
                  <td class="text-center py-2" scope="row">25</td>
                  <td class="text-center">未</td>
                  <td class="text-center">10：07</td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">123456789</td>
                  <td class="text-center"><a href="#ho" title="シマダヤスオ">嶋田安男</a></td>
                  <td class="text-center">35歳</td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">内科</td>
                  <td class="text-center">大山田</td>
              </tr>
              <tr>
                  <td class="text-center py-2" scope="row">26</td>
                  <td class="text-center">未</td>
                  <td class="text-center">10：10</td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">123456789</td>
                  <td class="text-center"><a href="#ho" title="ミカミ　レイコ">三上　令子</a></td>
                  <td class="text-center">28歳</td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">内科</td>
                  <td class="text-center">大山田</td>
              </tr>
              <tr>
                  <td class="text-center py-2" scope="row">27</td>
                  <td class="text-center">未</td>
                  <td class="text-center">10：20</td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">123456789</td>
                  <td class="text-center"><a href="#ho" title="ヨコイ　ヨシオ">横井　好雄</a></td>
                  <td class="text-center">39歳</td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">内科</td>
                  <td class="text-center">大山田</td>
              </tr>
              <tr>
                  <td class="text-center py-2" scope="row">28</td>
                  <td class="text-center">未</td>
                  <td class="text-center">10：21</td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">123456789</td>
                  <td class="text-center"><a href="#ho" title="オデ　ケンイチ">小出　憲一</a></td>
                  <td class="text-center">25歳</td>
                  <td class="text-center"></td>
                  <td class="text-center"><i class="fas fa-check-double text-success"></i></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">内科</td>
                  <td class="text-center">大山田</td>
              </tr>
          </tbody>
      </table>


        <!-- /table -->


      </div>
      <!-- /content -->

      <!-- footer -->
      <footer class="footer">
        <p>&copy; 2018 - Sky Medical Inc.</p>
      </footer>
      <!-- /footer -->

    </div>
    <!-- /wrapper -->


    <script>
      $('.exam--all').click(function () {
        $('.exam__item').removeClass('d-none');
      })

      $('.exam--yet').click(function () {
        $('.exam__item--done').addClass('d-none');
      })

    </script>
    <script>
      $('.gotoTwoThree').click(function () {
        var backto = localStorage.getItem("backto");
        if (backto != 1) {
          window.open('03.html', '_blank');
        }
      })

    </script>
    <script src="../../Scripts/vender/bootstrap/popper.min.js"></script>
    <script src="../../Scripts/vender/bootstrap/bootstrap.min.js"></script>
    <script src="../../Scripts/ripple.js"></script>

  </body>

</html>
