<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>デザインシステム　スカイカルテ！</title>
		<script src="../../Scripts/vender/jquery/jquery-3.3.1.min.js"></script>
		<script src="../../Scripts/vender/jquery/modernizr-2.8.3.js"></script>
		<script src="https://cdn.jsdelivr.net/clipboard.js/1.5.3/clipboard.min.js"></script>

		<link href="../../Content/common.css" rel="stylesheet" />

		<link href="../../Content/vender/bootstrap/bootstrap.min.css" rel="stylesheet" />
		<link href="../../Content/vender/fontawesome/all.min.css" rel="stylesheet" />


		<link href="../../Content/DrugOrder.css" rel="stylesheet" />
		<link href="../../Content/style.css" rel="stylesheet" />

		<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">




	</head>

	<body>

		<!-- header -->
		<header class="header sticky-top">
			<div class="primary-bar d-flex justify-content-between">
				<h1 class="h3 d-inline-block text-white">
					<span class="font-weight-bold mr-1">Sky</span>Karte
				</h1>
			</div>
		</header>
		<!-- /header -->

		<!-- wrapper -->
		<div class="wrapper">

			<!-- content -->
			<div class="content ml-2">

				<hr>
				<h2 class="ml-5">アイコン　状態</h2>
				<!-- table -->
				<div class="table-scroll">
					<table class="table table-bordered table-scroll">
						<thead>
							<tr>
								<th class="text-muted text-center" scope="col">なし</th>
								<th class="text-muted text-center" scope="col">未実施</th>
								<th class="text-muted text-center" scope="col">オーダー</th>
								<th class="text-muted text-center" scope="col">結果待ち</th>
								<th class="text-muted text-center" scope="col">済</th>
								<th class="text-muted text-center" scope="col">結果画像</th>
							</tr>
						</thead>
						<tbody>
							<tr class="exam__item exam__item--done">
								<td class="text-center min-a"><i class="fas fa-minus h2"></i></td>
								<td class="text-center min-a text-danger font-weight-bold h2">未</td>
								<td class="text-center min-a"><i class="fas fa-check text-success h2"></i></td>
								<td class="text-center min-a"><i class="fas fa-spinner h2"></i></td>
								<td class="text-center min-a"><i class="fas fa-check-double text-success h2"></i></td>
								<td class="text-center min-a"><a href="#"><i class="far fa-image h2"></i></a></td>
							</tr>

							<!-- icon state-copybtn -->

							<tr class="exam__item exam__item--done">
								<td class="text-center td-bottom">
						    	<input class="text-center state-copybtn1" value="<i class=&quot;fas fa-minus h2&quot;></i>">
							    <button class="btn M-btn ripple" data-clipboard-target=".state-copybtn1">copy</button>
								</td>
								<td class="text-center text-danger font-weight-bold td-bottom">
									<input class="text-center state-copybtn2" value="<i class=&quot;text-center text-danger font-weight-bold h2&quot;>未</i>">
						    	<button class="btn M-btn ripple" data-clipboard-target=".state-copybtn2">copy</button>
								</td>
								<td class="text-center td-bottom">
									<input class="text-center state-copybtn3" value="<i class=&quot;fas fa-check text-success h2&quot;></i>">
									<button class="btn M-btn ripple" data-clipboard-target=".state-copybtn3">copy</button>
								</td>
								<td class="text-center td-bottom">
						    	<input class="text-center state-copybtn4" value="<i class=&quot;fas fa-spinner h2&quot;></i>">
							    <button class="btn M-btn ripple" data-clipboard-target=".state-copybtn4">copy</button>
								</td>
								<td class="text-center td-bottom">
						    	<input class="text-center state-copybtn5" value="<i class=&quot;fas fa-check-double text-success h2&quot;></i>">
							    <button class="btn M-btn ripple" data-clipboard-target=".state-copybtn5">copy</button>
								</td>
								<td class="text-center td-bottom">
						    	<input class="text-center state-copybtn6" value="<a href=&quot;#&quot;><i class=&quot;far fa-image h2&quot;></i>">
							    <button class="btn M-btn ripple" data-clipboard-target=".state-copybtn6">copy</button>
								</td>
							</tr>
							<!-- //icon state-copybtn -->
						</tbody>
					</table>
				</div>
				<!-- table -->
				<hr>
				<h2 class="ml-5">アイコン　編集</h2>
				<!-- table -->
				<div class="table-scroll">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th class="text-muted text-center" scope="col">コメント</th>
								<th class="text-muted text-center" scope="col">カレンダー</th>
								<th class="text-muted text-center" scope="col">ハテナ</th>
								<th class="text-muted text-center" scope="col">ピン</th>
								<th class="text-muted text-center" scope="col">編集</th>
								<th class="text-muted text-center" scope="col">ゴミ箱</th>
								<th class="text-muted text-center" scope="col">プラス</th>
								<th class="text-muted text-center" scope="col">マイナス</th>
								<th class="text-muted text-center" scope="col">コピー</th>
								<th class="text-muted text-center" scope="col">登録</th>
								<th class="text-muted text-center" scope="col">まとめる</th>
								<th class="text-muted text-center" scope="col">更新</th>
								<th class="text-muted text-center" scope="col">上</th>
								<th class="text-muted text-center" scope="col">下</th>
								<th class="text-muted text-center" scope="col">右</th>
								<th class="text-muted text-center" scope="col">左</th>
								<th class="text-muted text-center" scope="col">拡大</th>
								<th class="text-muted text-center" scope="col">遷移</th>
							</tr>
						</thead>
						<tbody>
							<tr class="exam__item exam__item--done">
								<td class="text-center"><i class="far fa-comment-dots h2"></i></td>
								<td class="text-center"><i class="fas fa-calendar-alt h2"></i></td>
								<td class="text-center"><i class="far fa-question-circle h2"></i></td>
								<td class="text-center"><i class="fas fa-thumbtack h2"></i></td>
								<td class="text-center"><i class="fa fa-edit h2"></i></td>
								<td class="text-center"><i class="fa fa-trash-alt h2"></i></td>
								<td class="text-center"><i class="fas fa-plus h2"></i></td>
								<td class="text-center"><i class="fas fa-minus h2"></i></td>
								<td class="text-center"><i class="fa fa-copy h2"></i></td>
								<td class="text-center"><i class="fa fa-user-edit h2"></i></td>
								<td class="text-center"><i class="fa fa-plus-square h2"></i></td>
								<td class="text-center"><i class="fa fa-redo-alt h2"></i></td>
								<td class="text-center"><i class="fas fa-chevron-up h2"></i></td>
								<td class="text-center"><i class="fas fa-chevron-down h2"></i></td>
								<td class="text-center"><i class="fas fa-chevron-right h2"></i></td>
								<td class="text-center"><i class="fas fa-chevron-left h2"></i></td>
								<td class="text-center"><i class="fas fa-expand h2"></i></td>
								<td class="text-center"><i class="fas fa-external-link-alt h2"></i></td>
							</tr>
							<!-- editing-cpybtn -->
							<tr class="exam__item exam__item--done">
								<td class="text-center td-bottom">
						    	<input class="text-center editing-copybtn1" value="<i class=&quot;far fa-comment-dots h2&quot;></i>">
							    <button class="btn M-btn ripple" data-clipboard-target=".editing-copybtn1">copy</button>
								</td>
								<td class="text-center td-bottom">
									<input class="text-center editing-copybtn2" value="<i class=&quot;fas fa-calendar-alt h2&quot;></i>">
									<button class="btn M-btn ripple" data-clipboard-target=".editing-copybtn2">copy</button>
								</td>
								<td class="text-center td-bottom">
									<input class="text-center editing-copybtn3" value="<i class=&quot;far fa-question-circle h2&quot;></i>">
									<button class="btn M-btn ripple" data-clipboard-target=".editing-copybtn3">copy</button>
								</td>
								<td class="text-center td-bottom">
									<input class="text-center editing-copybtn4" value="<i class=&quot;fas fa-thumbtack h2&quot;></i>">
									<button class="btn M-btn ripple" data-clipboard-target=".editing-copybtn4">copy</button>
								</td>
								<td class="text-center td-bottom">
									<input class="text-center editing-copybtn5" value="<i class=&quot;fa fa-edit h2&quot;></i>">
									<button class="btn M-btn ripple" data-clipboard-target=".editing-copybtn5">copy</button>
								</td>
								<td class="text-center td-bottom">
									<input class="text-center editing-copybtn6" value="<i class=&quot;fa fa-trash-alt h2&quot;></i>">
									<button class="btn M-btn ripple" data-clipboard-target=".editing-copybtn6">copy</button>
								</td>
								<td class="text-center td-bottom">
									<input class="text-center editing-copybtn7" value="<i class=&quot;fas fa-plus h2&quot;></i>">
									<button class="btn M-btn ripple" data-clipboard-target=".editing-copybtn7">copy</button>
								</td>
								<td class="text-center td-bottom">
									<input class="text-center editing-copybtn8" value="<i class=&quot;fas fa-minus h2&quot;></i>">
									<button class="btn M-btn ripple" data-clipboard-target=".editing-copybtn8">copy</button>
								</td>
								<td class="text-center td-bottom">
									<input class="text-center editing-copybtn9" value="<i class=&quot;fa fa-copy h2&quot;></i>">
									<button class="btn M-btn ripple" data-clipboard-target=".editing-copybtn9">copy</button>
								</td>
								<td class="text-center td-bottom">
									<input class="text-center editing-copybtn10" value="<i class=&quot;fa fa-user-edit h2&quot;></i>">
									<button class="btn M-btn ripple" data-clipboard-target=".editing-copybtn10">copy</button>
								</td>
								<td class="text-center td-bottom">
									<input class="text-center editing-copybtn11" value="<i class=&quot;fa fa-plus-square h2&quot;></i>">
									<button class="btn M-btn ripple" data-clipboard-target=".editing-copybtn11">copy</button>
								</td>
								<td class="text-center td-bottom">
									<input class="text-center editing-copybtn12" value="<i class=&quot;fa fa-redo-alt h2&quot;></i>">
									<button class="btn M-btn ripple" data-clipboard-target=".editing-copybtn12">copy</button>
								</td>
								<td class="text-center td-bottom">
									<input class="text-center editing-copybtn13" value="<i class=&quot;fas fa-chevron-up h2&quot;></i>">
									<button class="btn M-btn ripple" data-clipboard-target=".editing-copybtn13">copy</button>
								</td>
								<td class="text-center td-bottom">
									<input class="text-center editing-copybtn14" value="<i class=&quot;fas fa-chevron-down h2&quot;></i>">
									<button class="btn M-btn ripple" data-clipboard-target=".editing-copybtn14">copy</button>
								</td>
								<td class="text-center td-bottom">
									<input class="text-center editing-copybtn15" value="<i class=&quot;fas fa-chevron-right h2&quot;></i>">
									<button class="btn M-btn ripple" data-clipboard-target=".editing-copybtn15">copy</button>
								</td>
								<td class="text-center td-bottom">
									<input class="text-center editing-copybtn16" value="<i class=&quot;fas fa-chevron-left h2&quot;></i>">
									<button class="btn M-btn ripple" data-clipboard-target=".editing-copybtn16">copy</button>
								</td>
								<td class="text-center td-bottom">
									<input class="text-center editing-copybtn17" value="<i class=&quot;fas fa-expand h2&quot;></i>">
									<button class="btn M-btn ripple" data-clipboard-target=".editing-copybtn17">copy</button>
								</td>
								<td class="text-center td-bottom">
									<input class="text-center editing-copybtn18" value="<i class=&quot;fas fa-external-link-alt h2&quot;></i>">
									<button class="btn M-btn ripple" data-clipboard-target=".editing-copybtn18">copy</button>
								</td>
							</tr>
							<!-- editing-cpybtn -->
						</tbody>
					</table>
				</div>
				<!-- table -->
				<hr>
				<h2 class="ml-5">アイコン　行為</h2>
				<!-- table -->
				<div class="table-scroll">
					<table class="table table-bordered table-scroll">
						<thead>
							<tr>
								<th class="text-muted text-center" scope="col">処方</th>
								<th class="text-muted text-center" scope="col">注射</th>
								<th class="text-muted text-center" scope="col">処置</th>
								<th class="text-muted text-center" scope="col">検体</th>
								<th class="text-muted text-center" scope="col">生理</th>
								<th class="text-muted text-center" scope="col">X線画像</th>
								<th class="text-muted text-center" scope="col">リハ</th>
							</tr>
						</thead>
						<tbody>
							<tr class="exam__item exam__item--done">
								<td class="text-center"><i class="fa fa-pills h2"></i></td>
								<td class="text-center"><i class="fa fa-syringe h2"></i></td>
								<td class="text-center"><i class="fa fa-first-aid h2"></i></td>
								<td class="text-center"><i class="fa fa-vial h2"></i></td>
								<td class="text-center"><i class="fa fa-heartbeat h2"></i></td>
								<td class="text-center"><i class="fa fa-x-ray h2"></i></td>
								<td class="text-center"><i class="fa fa-wheelchair h2"></i></td>
							</tr>
							<!-- action-cpybtn -->
							<tr class="exam__item exam__item--done">
								<td class="text-center td-bottom">
						    	<input class="text-center action-copybtn1" value="<i class=&quot;fa fa-pills h2&quot;></i>">
							    <button class="btn M-btn ripple" data-clipboard-target=".action-copybtn1">copy</button>
								</td>
								<td class="text-center td-bottom">
									<input class="text-center action-copybtn2" value="<i class=&quot;fa fa-syringe h2&quot;></i>">
									<button class="btn M-btn ripple" data-clipboard-target=".action-copybtn2">copy</button>
								</td>
								<td class="text-center td-bottom">
									<input class="text-center action-copybtn3" value="<i class=&quot;fa fa-first-aid h2&quot;></i>">
									<button class="btn M-btn ripple" data-clipboard-target=".action-copybtn3">copy</button>
								</td>
								<td class="text-center td-bottom">
									<input class="text-center action-copybtn4" value="<i class=&quot;fa fa-vial h2&quot;></i>">
									<button class="btn M-btn ripple" data-clipboard-target=".action-copybtn4">copy</button>
								</td>
								<td class="text-center td-bottom">
									<input class="text-center action-copybtn5" value="<i class=&quot;fa fa-heartbeat h2&quot;></i>">
									<button class="btn M-btn ripple" data-clipboard-target=".action-copybtn5">copy</button>
								</td>
								<td class="text-center td-bottom">
									<input class="text-center action-copybtn6" value="<i class=&quot;fa fa-x-ray h2&quot;></i>">
									<button class="btn M-btn ripple" data-clipboard-target=".action-copybtn6">copy</button>
								</td>
								<td class="text-center td-bottom">
									<input class="text-center action-copybtn7" value="<i class=&quot;fa fa-wheelchair h2&quot;></i>">
									<button class="btn M-btn ripple" data-clipboard-target=".action-copybtn7">copy</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- table -->
				<hr>
				<h2 class="ml-5">アイコン　その他</h2>



				<!-- table -->
				<div class="table-scroll">
					<table class="table table-bordered table-scroll">
						<thead>
							<tr>
								<th class="text-muted text-center" scope="col">診療所</th>
								<th class="text-muted text-center" scope="col">個人</th>
								<th class="text-muted text-center" scope="col">設定</th>
								<th class="text-muted text-center" scope="col">ログアウト</th>
								<th class="text-muted text-center" scope="col">アラート</th>
							</tr>
						</thead>
						<tbody>
							<tr class="exam__item exam__item--done">
								<td class="text-center"><i class="fas fa-hospital-alt h2"></i></td>
								<td class="text-center"><i class="fas fa-user h2"></i></td>
								<td class="text-center"><i class="fas fa-cog h2"></i></td>
								<td class="text-center"><i class="fas fa-sign-out-alt h2"></i></td>
								<td class="text-center"><i class="fas fa-exclamation-triangle h2"></i></td>
							</tr
							<!-- otherwise-copybtn -->
							<tr class="exam__item exam__item--done">
							<td class="text-center td-bottom">
								<input class="text-center otherwise-copybtn1" value="<i class=&quot;fas fa-hospital-alt h2&quot;></i>">
								<button class="btn M-btn ripple" data-clipboard-target=".otherwise-copybtn1">copy</button>
							</td>
							<td class="text-center td-bottom">
								<input class="text-center otherwise-copybtn2" value="<i class=&quot;fas fa-user h2&quot;></i>">
								<button class="btn M-btn ripple" data-clipboard-target=".otherwise-copybtn2">copy</button>
							</td>
							<td class="text-center td-bottom">
								<input class="text-center otherwise-copybtn3" value="<i class=&quot;fas fa-cog h2&quot;></i>">
								<button class="btn M-btn ripple" data-clipboard-target=".otherwise-copybtn3">copy</button>
							</td>
							<td class="text-center td-bottom">
								<input class="text-center otherwise-copybtn4" value="<i class=&quot;fas fa-sign-out-alt h2&quot;></i>">
								<button class="btn M-btn ripple" data-clipboard-target=".otherwise-copybtn4">copy</button>
							</td>
							<td class="text-center td-bottom">
								<input class="text-center otherwise-copybtn5" value="<i class=&quot;fas fa-exclamation-triangle h2&quot;></i>">
								<button class="btn M-btn ripple" data-clipboard-target=".otherwise-copybtn5">copy</button>
							</td>
							</tr>
							<!-- //Otherwise-copybtn -->
						</tbody>
					</table>
				</div>
				<!-- table -->
				<hr>
				<h2 class="ml-5">ボタン</h2>
				<!-- table -->
				<div class="table-scroll">
					<table class="table table-bordered table-scroll">
						<thead>
							<tr>
								<th class="text-muted text-center" scope="col">Floating Action Button</th>
								<th class="text-muted text-center" scope="col">プライマリー</th>
								<th class="text-muted text-center" scope="col">セカンダリー</th>
							</tr>
						</thead>
						<tbody>
							<tr class="exam__item exam__item--done">
								<td class="text-center"><span class="fab-btn ripple" style="position: relative;"><a href="#" class="align-middle">FAB</a></span></td>
								<td class="text-center"><span class="M-btn ripple"><a href="#" class="align-middle">プライマリー</a></span></td>
								<td class="text-center"><span class="M-btn-OL ripple"><a href="#" class="align-middle">アウトライン</a></span></td>
							</tr>
							<!-- button-copybtn -->
							<tr class="exam__item exam__item--done">
								<td class="text-center td-bottom">
									<input class="text-center button-copybtn1" value="<span class=&quot;fab-btn ripple&quot; style=&quot;position: relative;&quot;><a href=&quot;#&quot; class=&quot;align-middle&quot;>FAB</a></span>">
									<button class="btn M-btn ripple" data-clipboard-target=".button-copybtn1">copy</button>
								</td>
								<td class="text-center td-bottom">
									<input class="text-center button-copybtn2" value="<span class=&quot;M-btn ripple&quot;><a href=&quot;#&quot; class=&quot;align-middle&quot;>プライマリー</a></span>">
									<button class="btn M-btn ripple" data-clipboard-target=".button-copybtn2">copy</button>
								</td>
								<td class="text-center td-bottom">
									<input class="text-center button-copybtn3" value="<span class=&quot;M-btn-OL ripple&quot;><a href=&quot;#&quot; class=&quot;align-middle&quot;>アウトライン</a></span>">
									<button class="btn M-btn ripple" data-clipboard-target=".button-copybtn3">copy</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- table -->

				<hr>
				<h2 class="ml-5">フォーム</h2>
				<!-- table -->
				<div class="table-scroll">
					<table class="table table-bordered table-scroll">
						<thead>
							<tr>
								<th class="text-muted text-center" scope="col">チェックボックス</th>
								<th class="text-muted text-center" scope="col">ラジオボタン</th>
								<th class="text-muted text-center" scope="col"></th>
							</tr>
						</thead>

							<tr class="exam__item exam__item--done">
								<td class="form_td">
									<label><input type="checkbox" name="check" class="check"><span class="check1 pt-1">check</span></label>
								</td>
								<td class="form_td">
									<label><input type="radio" name="radio" class="radio"><span class="radio1">radio</span></label>
								</td>
								<td class="text-center"><span class="M-btn-OL ripple"><a href="#" class="align-middle"></a></span></td>
							</tr>






							<!-- button-copybtn -->
							<tbody>
								<tr class="exam__item exam__item--done">
									<td class="text-center td-bottom">
										<input class="text-center form-copybtn1" value="<label><input type=&quot;checkbox&quot; name=&quot;check&quot; class=&quot;check&quot;><span class=&quot;check1 pt-1&quot;>check</span></label>">
										<button class="btn M-btn ripple" data-clipboard-target=".form-copybtn1">copy</button>
									</td>
									<td class="text-center td-bottom">
										<input class="text-center form-copybtn2" value="<label><input type=&quot;radio&quot; name=&quot;radio&quot; class=&quot;radio&quot;><span class=&quot;radio1&quot;>radio</span></label>">
										<button class="btn M-btn ripple" data-clipboard-target=".form-copybtn2">copy</button>
									</td>
									<td class="text-center td-bottom">
										<input class="text-center form-copybtn3" value="">
										<button class="btn M-btn ripple" data-clipboard-target=".form-copybtn3">copy</button>
									</td>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- table -->

				<nav aria-label="Page navigation example">
					<ul class="pagination">
						<li class="page-item">
							<a class="page-link" href="#" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
								<span class="sr-only">Previous</span>
							</a>
						</li>
						<li class="page-item"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item">
							<a class="page-link" href="#" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
								<span class="sr-only">Next</span>
							</a>
						</li>
					</ul>
				</nav>


			</div>
			<!-- /content -->

		</div>
		<!-- /wrapper -->

		<!-- footer -->
		<footer class="footer">
			<p>&copy; 2018 - Sky Medical Inc.</p>
		</footer>
		<!-- /footer -->

		<script src="../../Scripts/vender/bootstrap/popper.min.js"></script>
		<script src="../../Scripts/vender/bootstrap/bootstrap.min.js"></script>

		<script src="../../Scripts/ripple.js"></script>


<!-- btn -->
		<script>


			$(function(){

				$(function(){
					$('td .btn').click(function() {
						var num = $('td .btn').index(this);　/*クリックした番号を格納*/
						/*	$('td .btn').eq(num).addClass('one');		//クラス追加 */

								var clipboard = new Clipboard('.btn');
								clipboard.on('success', function(e) {
									e.clearSelection();
								});
				});
				});
			});




		</script>
<!-- // btn -->

	</body>

</html>
